<!DOCTYPE html>
<html ng-app="template">
	<head>
		<title>Home Page</title>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>	

		<script src="/angular/logout/logout.js"></script>			
	</head>


	<body>
		<h1>Home Page Title</h1>
		<logout-box></logout-box>
	</body>

</html>