<!DOCTYPE html>
<html ng-app="template">
	<head>
		<title>Signup Page</title>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>	
		
		<script src="/angular/signupPage/signupPage.js"></script>	
	</head>


	<body ng-controller="signupPageController as signup">
		<h1>Signup Page Title</h1>
		<input ng-model="signup.username" placeholder="Username"></input>
		<input ng-model="signup.password" type="password" placeholder="Password"></input>
		<button ng-click="signup.signup()">Signup</button>
	</body>
	
</html>